<div class="error">
        {{error}}
</div>

<form action="" method="POST">
    Title:
    <div>   
        <input type="text" name="title" value="{{title}}" />
    </div>
    Author:
     <div>   
        <input type="text" name="author" value="{{author}}" />
    </div>
    Release Date:
     <div>   
        <input type="date" name="releaseDate" value="{{releaseDate}}" />
    </div>
    Imasge Url:
     <div>   
        <input type="url" name="imageUrl" value="{{imageUrl}}"/>
    </div>
    Price:
     <div>   
        <input type="number" name="price" value="{{price}}"/>
    </div>
    <br >
    <input type="submit" />
</form>

