
<div>
        {{!-- <a href="/details/{{_id}}">{{imageUrl}}"</a> --}}
        <img class="cube" src="{{imageUrl}}">
        <p class="name">Author: {{author}}</p>
        <p><span>ReleaseDate: </span>{{releaseDate}}</p>
        <p class="name">Title: {{title}}</p>
        <a href="/back/{{_id}}" class="button">Back</a>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
</div>